.text-small {
    font-size: 0.9rem;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover, a:focus {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: burlywood;
}

.form-control:focus {
    background: black;
}

footer {
    background: black;
}

.right {
    font-family: 'Montserrat', sans-serif;
    margin-left: 15rem;
    justify-content: center;
    align-items:center
}

.center {
    font-family: 'Montserrat', sans-serif;
    margin-left: 5rem;
    justify-content: center;
    align-items: center;
}

.gabbiani {
    font-family: 'Montserrat', sans-serif;
}
.gabbiani .gabbiani-text {
    font-size: xx-large;
}