.section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

.section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(222,184,135,1) 25%, rgba(94,9,9,1) 100%);
    clip-path: circle(30% at right 50%);
}

.section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(222,184,135,1) 25%, rgba(94,9,9,1) 100%);
    clip-path: circle(20% at 10% 10%);
}


.container-1 {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.container-1 .card {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.container-1 .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.3s;
}

.container-1 .card:hover .content {
    opacity: 1;
    transform: translateY(-45px);
}

.container-1 .card .content .imgBx {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}

.container-1 .card .content .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-1 .card .content .contentBx img {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.container-1 .card .content .contentBx h3{

    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.container-1 .card .content .contentBx h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.container-1 .card .sci {
    position: absolute;
    bottom: 50px;
    display: flex;
}

.container-1 .card .sci li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.3s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
}

.container-1 .card:hover .sci li {
    transform: translateY(0px);
    opacity: 1;
}